<!DOCTYPE html>
<html lang="en">
<head th:replace="~{header::header}"></head>
<body>
<form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
    <div class="md-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" th:field="*{nome}" id="nome" />
        <span th:if="${#fields.hasErrors('nome')}" th:error="*{nome}"></span>
    </div>
    <div class="md-3">
        <label class="form-label" >Email</label>
        <input type="text" class="form-control" th:field="*{email}" id="email"/>
        <span th:if="${#fields.hasErrors('email')}" th:error="*{email}"></span>
    </div>
    <div class="md-3">
        <label class="form-label" >Cpf</label>
        <input type="text" class="form-control" th:field="*{cpf}" id="email"/>
        <span th:if="${#fields.hasErrors('cpf')}" th:error="*{cpf}"></span>
    </div>
    <div class="md-3">
        <label class="form-label" >Data de nascimento</label>
        <input type="text" class="form-control" th:field="*{dataNascimento}" id="email"/>
        <span th:if="${#fields.hasErrors('dataNascimento')}" th:error="*{dataNascimento}"></span>
    </div>

    <input class="btn btn-primary" type="submit" Value="criar cliente">
</form>
</body>
</html>